@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<br />
<h2>Estado del Sistema</h2>

<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="401" />