@page "/MiHistoria"

<Saludo Letrero="Cookies de Cookie Run" />
<div class="container">
    <div class="p-3 my-3 bg-light">
        <h2>Mi historia</h2>
        <p>A continuación les escribiré información relevante de mi vida.</p>
    </div>
</div>

<section class="row g-4">
    <div class="col-md-4">
        <div class="card">
            <img src="https://i.pinimg.com/736x/a1/ed/c1/a1edc1d87757625df3d1ac014598b36a.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Burning Spice Cookie</h5>
                <p class="card-text">Una cookie creada con especias ardientes.</p>
                <a href="#" class="btn btn-primary">Conocer más sobre Burning</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="https://i.pinimg.com/1200x/fb/7a/65/fb7a652629a491918b99ba742da99995.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Dark Cacao Cookie</h5>
                <p class="card-text">Una cookie creada con amargo cacao.</p>
                <a href="#" class="btn btn-primary">Conocer más sobre Dark Cacao</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="https://i.pinimg.com/736x/e3/df/d2/e3dfd2b5ab02f86142a63fc59ade87c5.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Affogato Cookie</h5>
                <p class="card-text">Una cookie creada con espresso y helado de vainilla.</p>
                <a href="#" class="btn btn-primary">Conocer más sobre Dark Cacao</a>
            </div>
        </div>
    </div>
</section>

@code {

}
