@page "/Saludo"
@rendermode InteractiveServer

<h3>Saludo</h3>
@*<div class="alert alert-success">*@
    @_letrero <br />
    @_letreroEdad <br />
    @_letreroCalificacion
    @*($"Tienes {_edad} años")   o con + _edad + *@
@*</div>*@

@*<div class="alert alert-info">
    @ChildContent
</div>*@

<div class="container">
    <label class="col-form-label">Nombre: </label>
    <input id="txtNombre" class="form-control" @bind="_nombreInput" />

    <label for="txtEdad" class="col-form-label">Edad: </label>
    <input type="number" id="txtEdad" class="form-control" @bind="_datoEdad" />

    <label for="txtCalificacion" class="col-form-label">Calificacion: </label>
    <input type="number" id="txtCalificacion" class="form-control" @bind="_datoCalificacion" />
</div>

<button class="btn btn-primary mt-3" @onclick="Saludar">Saludar</button>

@if (_mostrarResultado)
{
    if (_edad >= 18)
    {
        <div class="alert alert-success mt-3">
            <p>@_letrero</p>
            <p>@_letreroEdad</p>
            <p class="border border-3 @( _datoCalificacion > 5 ? "border-success" : "border-danger")">@_letreroCalificacion</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-3">
            <p>Solo adultos</p>
        </div>
    }
}

@code {
    [Parameter]
    public string Letrero { get; set; } = "¡Cambio de contenido!";
    private string _letrero = "¡Hola mundo!", _letreroEdad = "", _letreroCalificacion = "";
    private string _nombreInput = string.Empty;
    private bool _mostrarResultado = false;
    private int _datoEdad, _datoCalificacion;

    @* para ver métodos de conversión*@
    private int _edad = 0;
    private long _enteroLargo = 10000000000000000;

    @*[Parameter]
    public RenderFragment? ChildContent { get; set; }*@

    void Saludar()
    {
        // Construir el letrero a partir del valor del input local
        _letrero = "¡Hola " + _nombreInput + "!";

        _edad = _datoEdad;

        @*if(_edad >= 18) {
            _letreroEdad = $"Tienes {_edad}, eres MAYOR de edad";
        } else {
            _letreroEdad = $"Tienes {_edad}, eres menor de edad";
        }*@

        _letreroEdad = (_edad >= 18 ? $"Tienes {_edad}. Eres MAYOR de edad" : $"Tienes {_edad}. Eres menor de edad");

        @* el profe lo hizo con else if anidados *@
        @*if (_datoCalificacion == 10)
        {
            _letreroCalificacion = "Calificacion A";
        } else if (_datoCalificacion >= 9)
        {
            _letreroCalificacion = "B";
        }
        else if (_datoCalificacion >= 8)
        {
            _letreroCalificacion = "C";
        }
        else if (_datoCalificacion >= 7)
        {
            _letreroCalificacion = "D";
        }
        else if (_datoCalificacion >= 6)
        {
            _letreroCalificacion = "E";
        }
        else
        {
            _letreroCalificacion = "F";
        }*@

        switch (_datoCalificacion)
        {
            case 10:
                _letreroCalificacion = "Calificacion A";
                break;
            case 9:
                _letreroCalificacion = "Calificacion B";
                break;
            case 8:
                _letreroCalificacion = "Calificacion C";
                break;
            default:
                _letreroCalificacion = "F";
                break;
        }

        // Activar la visualización de resultados
        _mostrarResultado = true;

        // no hay problema porq no hace q se desborde
        // _edad = (int)_enteroLargo;

        // _edad = Convert.ToInt32(_enteroLargo);
    }
}
